body {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    vertical-align: middle;
    background: url(../img/galaxy.jpg);
    cursor: default;
height: 100vh;
}
svg{
	/*position: absolute;*/
	/*left: 0;
	top: 0;*/
	background: url(../img/bg-glow.png) no-repeat center;
	background-size:100vw 100vh;
	overflow: hidden;
  /*transform: rotateX(60deg);
  transform-style: preserve-3d;*/
  
}
.planet, .orbit{
	/*transform: rotateX(30deg);
  transform-style: preserve-3d;
  -webkit-transform: rotateX(30deg);*/
/*   -webkit-transform: translateX(-20px);
 -webkit-transform: translateZ(-20px);
  -webkit-transform: translateY(-20px);	
  -webkit-transform: translate3D(20px,20px,20px);*/
/*position: absolute;*/

  -webkit-transform-style: preserve-3d;
}

.container{

/*transform: rotateX(30deg);
transform-style: preserve-3d;
-webkit-transform: rotateX(30deg);	
-webkit-transform-style: preserve-3d;*/
	/*transform: translate3d(2,2,0);*/
	border: none;
}
/*.orbitsContainer, .planetContainer{
	position: absolute;
	-webkit-transform: rotateX(75deg);
      transform: rotateX(75deg);		
  -webkit-transform-style: preserve-3d;

}*/
.sun{
	/*-webkit-transform: rotateZ(60deg);
      transform: rotateZ(60deg);		
  
position: absolute;
-webkit-transform-style: preserve-3d;*/
  border-radius: 50%;
    background-color: #FB7209;
    background-repeat: no-repeat;
    /* background-size: cover; */
    box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
}
.planet::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 30px;
    left: 15px;
    bottom: 0;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform-style: preserve-3d;
    transform: skew(-45deg, 0deg);
    box-shadow: inset 1px 1px black;}


